/*BASE*/

	.p-relative{
		position: relative !important;
	}

	.p-absolute{
		position: absolute !important;
	}

	.link-navbar .nav-link {
    font-size: 11px;
	}

	.border-right{
		border-right: solid 1px #fff;
	}

	.blue-gradient-bg{
		background:-webkit-linear-gradient(90deg, rgb(30, 52, 128) 0%, rgb(1, 78, 128) 100%);
		background:-o-linear-gradient(90deg, rgb(30, 52, 128) 0%, rgb(1, 78, 128) 100%);
		background:-moz-linear-gradient(90deg, rgb(30, 52, 128) 0%, rgb(1, 78, 128) 100%);
		background:linear-gradient(90deg, rgb(30, 52, 128) 0%, rgb(1, 78, 128) 100%);
	}

	.secondary-blue-bg{
		background-color: #222d5d !important; 
	}

	.primary-blue-bg{
		background-color: #1e3480 !important;
	}

	.face-btn {
    padding: 5px 13px;
	}

	.in-btn,
	.insta-btn{
		padding: 5px 10px;
	}

	.dropdownhover:hover .dropdown-content{
		opacity: 1;
		visibility: visible;
		height: 100%;
		min-height: 72px;
		-webkit-transition-delay: .2s;
		-o-transition-delay: .2s;
		transition-delay: .2s;
	}

	.dropdown-content .drop-item:hover{
		background: #ffffff0d;
		transition: .5s ease-in-out;
	}

	.dropdown-content {
		opacity: 0;
		visibility: hidden;
		display: inline-flex;		
		-webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
		text-align: center;
    position: absolute;
    height: 0;
    z-index: 1000;
    min-width: 145px;
    background-color: #1e3171a6;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
	}

	.dropdown-content a {
    text-decoration: none;
    display: block;
	}

	.mt-lg-up{
		margin-top: 112px;
	}

	.mt-lg-down{
		margin-top: 79px;
	}

	.banner-btn {
    font-size: 30px;
    border: solid 1px;
    padding: 0px 6px 6px 6px;
    font-weight: 100;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    text-decoration: none !important;
	}

	.blue-font-color{
		color: #222d5f !important;
	}

	.subscribe-btn {
    border-radius: 6px;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none !important;
	}

	.hvr-rectangle-out.subscribe-btn:before{
		border-radius: 6px;
		background: #2997ce;
	}
	

	.banner-btn:hover,
	.banner-btn:focus{
		background: #fff;
		color: #000 !important;
	}

	.slick-prev:before, .slick-next:before{
		color: #000 !important
	}

	@media(min-width: 991px){
		.border-lg-right{
			border-right: solid 1px #fff;
		}
	}

/*END BASE*/

/*MENU*/

	.primary-navbar{
    -webkit-transition: .35s ease-in-out;
    -o-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
		-webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.6);
		-moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.6);
		box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.6);
		z-index: 1;
	}

	.link-navbar .navbar-nav .nav-item,
	.primary-navbar .navbar-nav .nav-item{
		transition: 0.7s;
	}

	.link-navbar .navbar-nav .nav-item:hover,
	.primary-navbar .navbar-nav .nav-item:hover{
		transition: 0.7s;
	}

	.link-navbar .navbar-nav .nav-item:hover{
		background: #ffffff0d;
	}

	.primary-navbar .nav-item{
		z-index: 0;
	}

	.primary-navbar .navbar-nav-desktop .nav-item a:after{
		content: '';
		height: 0%;
		width: 99%;
		position: absolute;
		-webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;;
		top: 0;
    left: 0;
    background: #1e306ed4;
    z-index: -1
	}
	
	.primary-navbar .nav-item:hover a:after{    
    height: 100%;
	}

	.navbar-nav-mobile .dropdown-menu {
    background: #1b2d6d;
    border: none;
	}

	.primary-navbar .links-nav,
	.navbar-nav-mobile .nav-item {
		-webkit-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.23) inset;
		-moz-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.23) inset;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.23) inset;
	}

	.navbar-nav-mobile .dropdown-item {
    border-bottom: solid 1px #757575;
	}

	.primary-navbar .open-menu{
		background: none;
		border: 0;
		border-radius: 0;
		height: 20px;
		right: 0;
		outline: 0;
		padding: 0;
		position: absolute;
		top: 18px;
		width: 24px;
		z-index: 10;
	}

	.primary-navbar .open-menu .icon-bar{
		background: #fff;
		border-radius: 1px;
		height: 4px;
		margin: auto;
		position: absolute;
		right: 10px;
		top: 8px;
		-webkit-transition: .35s ease-in-out;
		-o-transition: .35s ease-in-out;
		transition: .35s ease-in-out;
		width: 24px;
	}

	.primary-navbar .open-menu .icon-bar:nth-child(1) {
    top: 0;
	}

	.primary-navbar .open-menu .icon-bar:nth-child(3) {
    top: 16px;
	}

	.primary-navbar .open-menu.open .icon-bar:nth-child(1) {
    top: 8px;
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
	}

	.primary-navbar .open-menu.open .icon-bar:nth-child(2) {
    width: 0;
	}

	.primary-navbar .open-menu.open .icon-bar:nth-child(3) {
    top: 8px;
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
	}

	.primary-navbar .navbar-nav-mobile .dropdown-toggle:after{
		-webkit-transition: .35s ease-in-out;
    -o-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
    float: right;
    margin-top: 10px;
	}

	.primary-navbar .navbar-nav-mobile .dropdown-toggle.open::after{		
		-webkit-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
	}

	.primary-navbar .links-nav a{
		font-size: 11px
	}

/*END MENU*/

/*FOOTER*/

	.footer p,
	.footer a{
		font-size: 11px;
		transition: 0.7s;
	}

	.social-button {
    font-size: 18px !important;
    border: solid 2px;
    transition: 0.7s;
	}

	.fab{
		transition: 0.7s;
	}

	.social-button:hover {
    background: white;
    transition: 0.7s;
	}

	.social-button:hover .fab{
		color: #1e3480 !important;
		transition: 0.7s;
	}

	.footer .nav-link:hover {
    background: #1e306e8a;
    transition: 0.7s;
	}

/*END FOOTER*/

/*HOME*/
	
	.conheca-unidades-section{
		background: url('/images/conheca_unidades_banner1.JPG');
		padding: 200px 0px 50px 0px;
    background-position: center;
    background-size: cover;
	}

	.news-highlights-section {
    background: #d2d2d2;
	}

	.highlight-box{
		text-decoration: none !important;
	}
	
	.highlight-box-button {
    padding: 0px 10px;
    border-radius: 6px;    
    position: relative;
    top: 11px;
    width: 85px;
	}

	.highlight-box-img img{
		height: 160px;
		width: 100%;
		object-fit: cover;
	}

	.blue-highlight-box{
		background: #1a2146;
	}

	.blue-highlight-box .highlight-box-button{
    background: #2997ce;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
	}

	/*.blue-highlight-box:hover .highlight-box-button{
		background: #fff;
		color: #2997ce !important;
		font-weight: 700;
	}*/

	.blue-highlight-box .highlight-box-button:before {
	    content: "";
	    position: absolute;
	    z-index: -1;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    border-radius: 6px;
	    background: #fff;	    
	    -webkit-transform: scaleX(0);
	    transform: scaleX(0);
	    -webkit-transform-origin: 50%;
	    transform-origin: 50%;
	    -webkit-transition-property: transform;
	    transition-property: transform;
	    -webkit-transition-duration: 0.3s;
	    transition-duration: 0.3s;
	    -webkit-transition-timing-function: ease-out;
	    transition-timing-function: ease-out;
	}

	.blue-highlight-box:hover .highlight-box-button{
		font-weight: 500;
    color: #2997ce !important;
  }

	.blue-highlight-box:hover .highlight-box-button:before{
	    -webkit-transform: scaleX(1);
	    transform: scaleX(1);
	}

	.white-highlight-box .highlight-box-button{
		background: #000;
		text-decoration: none;
		border: solid 1px #000;
		-webkit-transition: .3s ease-in-out;
		-o-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
	}

	.white-highlight-box .highlight-box-button:hover{
		background: #fff;
		color: #000 !important;
		font-weight: 700;
	}

	.white-highlight-box{
		border: solid 1px;
	}

	.interest-box-title{
		top: 50%;
		left: 0;
		right: 0;
		font-size: 25px;
		font-weight: 400;
		height: 70px;
		-webkit-transition: .35s ease-in-out;
		-o-transition: .35s ease-in-out;
		transition: .35s ease-in-out;
	}

	.interest-box{
		background: #000;
	}

	.interest-section .interest-box {
    height: 190px;
    text-decoration: none;
	}

	.interest-section .interest-img {
    height: 190px;
    position: absolute;
    left: 0;
    object-fit: cover;
    -webkit-transition: .35s ease-in-out;
    -o-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
	}

	.interest-box:hover .interest-img{
		filter: blur(2px);
	}

	.interest-box:hover .interest-box-title{
		top: 30%;
		font-size: 30px;
	}

/*END HOME*/